$card-heigth: 700px;

.card {
    height: 100% !important;
    margin-top: 5px;
    box-shadow: 2px 2px 1px #eee,
        -2px -2px 1px #eee,
        -2px 2px 1px #eee,
        2px -2px 1px #eee;;
}
.row {
    height: $card-heigth;
}
.card-header {
    .nav-link {
        background-color: rgb(156, 156, 156);
    }
}
#text-container .card-body {
    font-size: 1.5em;
}

img {
    height: 100%;
}
.nav.nav-pills {
    .nav-link.active {
        background-color: var(--bs-info-text);
    }
    .nav-link:not(.active) {
        background-color: #eee;
    }
} 

@media only screen and (max-width: 865px) {
    .col-6+.col-6 {         /*select second column*/
        display: none;
    }
    .col-6:first-child {
        width: 85%;
        margin: 0px auto;
    }
    #text-container {
        width: 100% !important;
    }
    .row {
        height: $card-heigth - 100px;
    }
}




