$form-height: 560px;

@mixin no-shadow() {
    text-shadow: none;
}

.fluid-container {
    h1{
        color: #000;
        @include no-shadow();
    }
    margin-top: 5px;
    padding: 0px 15px;
}

#sidebar {
    padding: 10px;
}

textarea {
    margin:auto;
    width: 100%;
    @include no-shadow();
    height: $form-height;
}

textarea+div>button {
    margin: 15px; 
    @include no-shadow();
    width: 150px;
}

.modal {
    h5, p {
        @include no-shadow();

    }
}

@media only screen and (max-width: 865px) {
    #sidebar {
        display: none;
    }
    .form-group~.col {
        width: 0px !important;
        display: none;
    }
    .form-group{
        width: 85vw !important;
        margin: auto;
    }
}